<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<!--<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ab numquam placeat tempora maxime perspiciatis alias, incidunt quisquam repellat beatae quibusdam veniam nam deleniti amet recusandae earum dolore, voluptate possimus.</h1>

	<p> I am {{15 + 10}}</p>
	<p>{{"Hello" + " World"}} </p>-->

	<div class="container" ng-controller="StoreController as store">
		<div class="list-group">
			<div class="list-group-item"  ng-repeat="product in store.products | orderBy: 'price'">
				<h3>
					{{product.name}}
					<em class="pull-right">{{product.price | currency}}</em>
				</h3>
				<img class="center-block" ng-src="{{product.images[0].url}}" alt="">
				
				<!--<button ng-show="!product.canPurchase">Add to Cart</button>-->
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{active:panel.isSelected(1)}"><a href="" ng-click="panel.selectTab(1)">Description</a></li>
						<li ng-class="{active:panel.isSelected(2)}"><a href="" ng-click="panel.selectTab(2)">Specifications</a></li>
						<li ng-class="{active:panel.isSelected(3)}"><a href="" ng-click="panel.selectTab(3)">Reviews</a></li>
					</ul>
				</section>
				<div class="panel" ng-show="panel.isSelected(1)">
					<h4>Description</h4>
					<p>{{product.description}}</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(2)">
					<h4>Specifications</h4>
					<p>Coming Soon </p>
				</div>
				<div class="panel" ng-show="panel.isSelected(3)">
					<h4>Reviews</h4>
					<p>None yet</p>
				</div>
			</div>
		
		</div>
		
	</div>

	
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
